body {
    background-image: url('BB1.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container .btn {
    position: absolute;
    top: 303px;
    left: 1000px;
    transform: translate(-700%, +405%);
    background-color: #f1f1f1;
    color: black;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    Text-align: center;
    background-color: rgb(150, 12, 192);
    color: white;
    height: 40px;
    width: 100px;
}
h2{
    margin-top: 5px;
    font-size: 20px;
}
.container.btn:hover {
    background-color: black;
    color: white;
}

.container {
    max-width: 820px;
    margin: 0px 90px;
    margin-top: 130x;
}

.qna #obj{
    margin-left: 700px;
    margin-top: -362px;
}
.qna #img{
    margin-left: 280px;
    margin-top: -14px;
}
.qna p{
    color: #f1f1f1;
    font-size: 20px;
    margin-left: 280px;
    margin-top: 100px;
}
.comment .textinput{
              width: 300px;
              margin-left: 325px;
              margin-top: -25px;

}
.container .btn{
              margin-left: 420px;
              margin-top: 122px;
}
.comment input {
    margin-left: 420px;
    margin-top: -10px;
    height: 30px;
}
#logo{
    top: 0px;
    height: 100px;
    width: 100px;
    margin-left: 60px;
}
.ft .text-footer{
   margin-right: -7px;
   margin-left: -7px;
   background-color: rgb(54, 56, 56);
   padding-bottom: 20px;
   padding-top: 20px;
   padding-left: 400px;
   padding-right: 300px;
   color: #f1f1f1;
   margin-top: 100px;
   margin-bottom: -7px;
}

@media screen and (max-width:1105px){
    #logo{
        height: 250px;
        width: 250px;
        margin-left: 100px;
        margin-top: 30px;
       }

    .qna #img{
        margin-top: -50px;
        margin-left: 100px;
        height: 300px;
        width: 910px;
    }
    .qna p{
        font-size: 55px;
        margin-right: -100px;
        margin-left: 150px;
        margin-top: 1050px;
    }
    .container .btn{
        height: 80px;
        width: 150px;
        margin-left: 780px;
        margin-top: 1800px;
        border-radius: 20px;
    }

    .comment .textinput{
             height: 120px;
             width: 600px;
             margin-top: 80px;
             margin-left: 400px;
    }
    .qna #obj{
        height: 1030px;
        width: 1130px;
        margin-left: 700px;
        margin-top: -800px;
     }
     h2{
        font-size: 30px;
        margin-top: 18px;

  }
     .ft .text-footer{
        font-size: 40px;
        margin-left: -370px;
        margin-right: -910px;
        margin-top: 910px;
        font-size: 20px;
    }
    .comment input{
        height: 70px;
        width: 500px;
        margin-top: 95px;
        margin-left: 440px;
        font-size: 40px;
    }
}